## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


import sys
sys.path.insert(0, '..')

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Read WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,78.76,clear sky,-23.1203,-134.9692,People ThankYou
1,2,Port Elizabeth,ZA,69.31,broken clouds,-33.9180,25.5701,39 On Nile Guest House
2,3,Bredasdorp,ZA,70.63,broken clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,4,Kapaa,US,66.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,5,Hilo,US,69.62,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [9]:
# add the city name, the country code, the weather description and maximum temperature for the city for markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
#Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

#Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#picking 4 cities from the map to create a vacation itinerary route to travel between
#and creating data frames for each

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Gold Coast')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Gold Coast')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Charlestown')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Karratha')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Port Keats')]

In [39]:
#Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start =(vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6])

In [41]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Combine the four city DataFrames into one DataFrame using the concat() function. For Marker Layer
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,187,Gold Coast,AU,72.00,broken clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
1,187,Gold Coast,AU,72.00,broken clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
2,249,Charlestown,AU,69.73,broken clouds,-32.9500,151.6667,Panorama Motor Inn Hotel
3,265,Karratha,AU,84.11,broken clouds,-20.7377,116.8463,ibis Styles Karratha
4,470,Port Keats,AU,81.61,overcast clouds,-14.2500,129.5500,TDC Village (Hundred Man Camp)

In [48]:
# creating marker template 
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [59]:
#Add marker layer
fig = gmaps.figure(center=(-25.0, 141.0), zoom_level=4.0)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

#Display the figure
fig

Figure(layout=FigureLayout(height='420px'))